/* main02.css */

html {
    font-size: 16px;
}
  
body {
    color: #2e3440;
    font-size: 1rem;
    line-height: 1.5;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 500;
}
  
h1 {
    font-size: 2.4em;
}
  
h2 {
    font-size: 1.8em;
}
  
h3 {
    font-size: 1.2em;
}
  
strong {
    font-weight: 700;
}

/* Navigation */

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    background: aliceblue;
}

.navbar-items {
    padding-right: 2em;
}

.navbar-items li {
    list-style: none;
    display: inline-block;
}

.navbar a {
    font-size: 1.2em;
}

img {
    max-width: 100%;
    height: auto;
}


.main {
    width: 70%;
    padding: 0 1.5em;
}

.sidebar {
    width: 30%;
    padding: 0 1.5em;
}


/* blog-post */
.blog-post {
	padding-bottom: 0.8em;
}

.blog-post header { 
    height: auto; 
}

.blog-post--meta ul {
	color: #B7B9BD;
	line-height: 1.8em;
}

.blog-post--meta ul li {
	display: inline;
	padding: 0;
}

.blog-post--meta ul li a { 
    color: #B7B9BD; 
}

.sidebar .widget li {
    list-style: none;
}

/* search  */
.sidebar .widget-search { 
	padding-top: 0;  
}

.sidebar .widget-search .text-search {
	padding-right: 40px;
    width: 100%;
    min-width: 150px;
}

.container {
    padding: 0 0.75rem;
    width: 100%;
}

.footer {
    width: 100%;
}

.footer {
    background: #f8f8f8;
    padding: 4em 0 6em 0;
}

.footer .copyright {
    color: #bbb;
    font-size: 0.9em;
    padding: 0;
    text-align: center;
}
  
.footer .copyright li {
    padding-left: 1.5em;
}
  
.footer li {
    display: inline-block;
    list-style: none;
}
